/* Box sizing and universal resets */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  padding-inline: 1rem;
  margin-inline: auto;
}

/* Document defaults */
html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
    overflow-x: hidden !important;

}

body {
  font-family: Inter, sans-serif;
  color: #fff;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: rgba(37, 37, 37, 1);
  overflow-x: hidden !important;
}

/* Anchor elements */
a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
  cursor: none;
}

/* Headings */
:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
  text-wrap: balance;
  margin-block: 1rem;
}

:where(h1, h2, h3) {
  line-height: 1.1;
}

h1 {
  font-size: clamp(1.5rem, 0.5291rem + 4.1424vw, 5.5rem);
  color: rgba(116, 163, 183, 1);
  text-align: center;
  margin-inline: au;
}
h2 {
  font-size: clamp(1.75rem, 0.5825rem + 2.8479vw, 4rem);
  color: #315571;
  text-align: center;
  margin-bottom: 5rem;
}
h3 {
  font-size: clamp(1.15rem, 0.8859rem + 1.5534vw, 2.75rem);
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.125rem;
}

/* Paragraphs */
p {
  --paragraphMarginBottom: 1rem;
  margin-block: 0;
  margin-bottom: var(--paragraphMarginBottom);
  font-size: clamp(0.9rem, 0.633rem + 1.1392vw, 2rem);
  line-height: 1.2;
  font-weight: 300;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/* Lists */
:where(ul, ol) {
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}

/* Tables */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 0;
}

/* Images */
img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Forms */
input,
textarea,
select,
button {
  font: inherit;
  margin: 0;
  border: none;
  background: transparent;
  outline: none;
}

button {
  cursor: none;
}

textarea {
  resize: vertical;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Accessibility */
[hidden] {
  display: none !important;
}

[aria-hidden="true"] {
  visibility: hidden;
}

/* Embedded content */
iframe {
  border: 0;
}

svg *[fill]:not([fill="none"], [fill^="url"]),
svg *[stroke]:not([stroke="none"], [stroke^="url"]) {
  fill: currentColor;
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

/* Reduced motion for animations and transitions */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Miscellaneous */
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1.5rem 0;
}

fieldset,
:where(fieldset[class]) {
  margin: 0;
  padding: 0;
  border: none;
}

address,
:where(address[class]) {
  font-style: normal;
}

:where(blockquote, figure):where([class]),
:where(blockquote, figure) {
  margin: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

dd {
  margin-left: 0;
}

:where(:target) {
  scroll-margin-top: 1em; /* Adjust as needed */
}
